/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Puedes agregar estilos globales aquí */
body {
  font-family: Roboto, Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f3f4f6;
}
